extends layout

block content
  h1= title 
  p Welcome to the Bakery pug
  div(class="container-fluid")
        div(class="row")
            -
                let bakery = [
                    {
                        "Itemname": "sandwich",
                        "Quantity": 10,
                        "price": "Five USD"
                    },
                    {
                        "Itemname": "Cake",
                        "Quantity": 20,
                        "price": "Ten USD"
                    },
                    {
                        "Itemname": "Coke",
                        "Quantity": 1,
                        "price": "Ten USD"
                    },                   
                ]
            each v,index in bakery
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Itemname}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Quantity}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }